
%h1 Websites
.row-fluid
  .span4
    .websites=image_tag "codejournal.jpg"

  .span4
    .websites=image_tag "amb3r.jpg"

  .span4
    .websites=image_tag "paperwhite.jpg"
.row-fluid
  .span4
    .websites=image_tag "weston.jpg"
  .span4
    .websites=image_tag "oem.jpg"
  .span4
    .websites=image_tag "deb.jpg"



%h1 Logos
.row-fluid
  .span4
    .websites=image_tag "edx.jpg"
  .span4
    .websites=image_tag "inculcate.jpg"
  .span4
    .websites=image_tag "ruby.jpg"


%h1 Product Lines
.row-fluid
  .span4
    .websites=image_tag "crocs.jpg"
  .span4
    .websites=image_tag "johnny.jpg"
  .span4
    .websites=image_tag "mtn.jpg"

%h1 My Patent
.row-fluid
  .span4
    .websites=image_tag "shirt.jpg"
  .span4
    .websites=image_tag "kids.jpg"
  .span4
    .websites=image_tag "sales.jpg"
